page-start {

  font-family: THSarabun_Bold !important;

  .scroll-content {
    overflow-y: hidden;
  }

  ion-grid {
    height: 100%;
  }

  .fab-list{
    // background: #08ae9e;
    position: fixed;
    left: 45%;
    // bottom: 90%;
    // border-radius: 20px;

    // ion-item{
    //   border-radius: 20px;
    //   border: none;
    //   border-bottom: none;
    // }

  }

  .fab-item1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .fab-item2{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .grad1 {
    font-family: Khianlen !important;
    background: -webkit-linear-gradient(left, #ff9900, #fd699a, #676cfb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff9900, #fd699a, #676cfb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff9900, #fd699a, #676cfb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff9900, #fd699a, #676cfb); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12vw;
  }

  .grad2 {
    padding-bottom: 3%;
    font-family: Khianlen !important;
    background: -webkit-linear-gradient(left, #474747, #474747, #474747); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #474747, #474747, #474747); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #474747, #474747, #474747); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #474747, #474747, #474747); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vw;

  }

  .grad3 {
    padding-bottom: 3%;
    font-family: Khianlen !important;
    font-size: 4vw;
    color: #474747;
    background-color: #ffffff;
  }

  .default {
    background-color: #e4ebea;
    button {
      background-color: #08ae9e;
    }


  }
  .p0 {
    background-color: #e6ebef;
    button {
      background-color: #dd9292;
    }

  }
  .p1 {
    background-color: #e7ebca;
    button {
      background-color: #5d6d7e;
    }

  }
  .p2 {
    background-color: #fdebe1;
    button {
      background-color: #1f618d;
    }

  }
  .p3 {
    background-color: #feefc4;
    button {
      background-color: #dc7633;
    }

  }

}
